[submodule "platforms/nuttx/NuttX/incubator-nuttx"]
	path = platforms/nuttx/NuttX/incubator-nuttx
	url = https://github.com/apache/incubator-nuttx.git
[submodule "platforms/nuttx/NuttX/nuttx"]
	path = platforms/nuttx/NuttX/nuttx
	url = https://github.com/apache/incubator-nuttx.git
[submodule "platforms/nuttx/NuttX/apps"]
	path = platforms/nuttx/NuttX/apps
	url = https://github.com/apache/incubator-nuttx-apps.git
